<footer>
    <ul class="footerList">
        <li>
            <span class="liTitle" id="contact">Contactez nous</span>
            <p>
                <div>114 Rte de Bischwiller<br>
                67300 Schiltigheim</div>
                &#160;
                <div><img class="telIcon" src="{{ asset('img/icons/phone-icon.png')}}" alt="telephon icon"><a href="tel:0972557865"> 09 72 55 78 65 </a></div>
                <div><img class="mailIcon" src="{{ asset('img/icons/mail-icon.png')}}" alt="mail icon"><a href="mailto:contact@gattino.fr"> contact@gattino.fr</a></div>
            </p>
        </li>

        <li>
            <span class="liTitle">Suivez nous</span>
            
            <div class="social-medias">

                <a href="https://www.facebook.com/epiceriegattino" target="_blank">
                    <img class="social-media-icon" src="{{ asset('img/icons/facebook-icon.png')}}" alt="facebook icon">
                </a>

                <a href="#" target="_blank">
                    <img class="social-media-icon insta-icon" src="{{ asset('img/icons/instagram-icon.png')}}" alt="instagram icon">
                </a>

                <a href="https://www.google.com/maps/place/Gattino/@48.6058305,7.7485987,20.5z/data=!4m12!1m6!3m5!1s0x4796c9ae16f1e75b:0x1a27b06cada1c70!2sGattino!8m2!3d48.6058341!4d7.7486244!3m4!1s0x4796c9ae16f1e75b:0x1a27b06cada1c70!8m2!3d48.6058341!4d7.7486244" target="_blank">
                    <img class="social-media-icon" src="{{ asset('img/icons/google-maps-icon.png')}}" alt="google maps icon">
                </a>

            </div>
        </li>

        <li>
            <a class="liTitle" href="#"  target="_blank">CGV</a>
        </li>

        <li>
            <a class="liTitle" href="#"  target="_blank">Politique de confidentialité</a>
        </li>

        <li>
            <a class="liTitle" href="#">Plan du site</a>
        </li>
    </ul>

    <p id="copyright">
        Copyright &copy; 2022 GATTINO - Tous droits réservés.<br>
        Développé par <a href="https://github.com/Massoud5" target="_blank">Massoud SHAMS</a>
    </p>

</footer>