{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% block navBar %}{% endblock %}

    <div class="admin-container">

        <h1>Administration</h1>

        <p class="binevenue">Bienvenue <strong>{{ app.user.prenom }} {{ app.user.nom }}</strong></p>
        <div class="mb-3 admin-btns">
            <a href="{{ path('app_home') }}">Aller au site</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
            <a href="{{ path('app_register') }}">Créer un nouveau admin</a>
        </div>

        <section>
            <nav id="nav-bar">
                <a class="nav-link first" href="{{ path('app_admin') }}" data-active>Commandes</a>
                <a class="nav-link" href="{{ path('admin_services') }}">Services</a>
                <a class="nav-link" href="{{ path('admin_categories') }}">Catégories</a>
                <a class="nav-link" href="{{ path('admin_produits_main') }}">Produits</a>
                <a class="nav-link" href="{{ path('app_admin_1J1P') }}">1J1P</a>
                <a class="nav-link" href="{{ path('app_admin_events') }}">Evénements</a>
            </nav>
        </section>

        <section class="commandes">
            <h2>Commandes non récupérées</h2>

            <table class="table table-hover admin-table">
                <thead>
                    <tr>
                        <th scope="col">Commande N°</th>
                        <th scope="col">Client</th>
                        <th scope="col">Prix TTC</th>
                        <th scope="col">Facture</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandesNonRecupere %}
                        
                        <tr class="admin-td-commande">
                            <td>
                                {{commande.nCommandePaid}}
                                <div class="admin-details-commande">
                                    {{commande.dateCommande | date("d/m/Y") }}
                                </div>
                            </td>
                            <td>
                                {{commande.client.prenom}} {{commande.client.nom}}
                                <div class="admin-details-commande">
                                    {{commande.client.email}}
                                </div>
                            </td>
                            <td>{{commande.ttc | number_format(2,',','')}} €</td>
                            <td><a href="{{ path('facture_pdf', {'id':commande.id}) }}" target="_blank">Voir</a></td> 
                            <td>
                                <a href="{{ path('changer_statut_commande', {'id':commande.id}) }}" class="admin-yellow-btn">Non récupérée</a>
                                <div class="admin-details-commande">
                                    {% if commande.dateRetrait is not null %}
                                        P: {{commande.dateRetrait | date("d/m/Y") }} - {{commande.tempsRetrait}}<br>
                                    {% endif %}
                                    {% if commande.dateRetraitPA is not null %}
                                        PA: {{commande.dateRetraitPA | date("d/m/Y") }} - {{commande.tempsRetraitPA}}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>

            <h2>Commandes récupérées</h2>

            <table class="table table-hover admin-table">
                <thead>
                    <tr>
                        <th scope="col">Commande N°</th>
                        <th scope="col">Client</th>
                        <th scope="col">Prix TTC</th>
                        <th scope="col">Facture</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandesRecupere %}
                        
                        <tr class="admin-td-commande">
                            <td>
                                {{commande.nCommandePaid}}
                                <div class="admin-details-commande">
                                    {{commande.dateCommande | date("d/m/Y") }}
                                </div>
                            </td>
                            <td>
                                {{commande.client.prenom}} {{commande.client.nom}}
                                <div class="admin-details-commande">
                                    {{commande.client.email}}
                                </div>
                            </td>
                            <td>{{commande.ttc | number_format(2,',','')}} €</td>
                            <td><a href="{{ path('facture_pdf', {'id':commande.id}) }}" target="_blank">Voir</a></td> 
                            <td><a href="{{ path('changer_statut_commande', {'id':commande.id}) }}" class="admin-green-btn">Récupérée</a></td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </section>

    </div>

    <style>
        footer{
            display: none;
        }
    </style>
{% endblock %}